@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');

body {
  background-color: #333333;
}

h1 {
  font-family: "Verdana";
  text-align: center;
}

.title a {
  text-decoration: none;
  color: black;
  font-size: 50px;
}

.parr {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.box {
  display: flex;
  max-width: 100%;
  width: 750px;
  border: 1px solid black;
  margin: auto;
  background-color: white;
}

.boxx {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #B6C1C7;
  width: 100%;
}

.head span {
  font-size: 40px;
  font-family: "Matemasie";
  margin-right: 30px;
}

.head img {
  max-width: 100%;
  width: 100px;
}

.nav {
  display: flex;
  background-color: black;
  padding: 5px;
  gap: 15px;
}

.nav a {
  text-decoration: none;
  font-family: "Verdana", Sans-Serif;
  font-weight: bold;
  font-size: 11px;
  color: white;
}

.nav a:hover {
  background-color: white;
  color: black;
}

.main {
  display: flex;
  flex-direction: column;
  border: 0px solid black;
  padding: 10px;
}

.main li {
  list-style: none;
  font-family: "Verdana", monospace;
  font-size: 11px;
  font-weight: bold;
}

.main li {
  display: flex;
  gap: 10px;
}

.main img {
  max-width: 100%;
  width: 200px;
  margin: auto;
  border: 1px solid black;
}

.list-int {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 2px;
}

.list-int a {
  color: brown;
  text-decoration: none;
}

.list-int a:hover {
  background-color: black;
}

.site {
  text-align: end;
  font-family: "Verdana", monospace;
  font-size: 11px;
  font-weight: bold;
}
