@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Mono&display=swap');

body {
  background-color: #131416;
  font-family: 'Inter';
  color: white;
}

a {
  text-decoration: none;
}

hr {
  width: 100%;
  border: 1px solid grey;
}

.nav {
  display: flex;
  gap: 30px;
  max-width: 100%;
  width: 900px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.656);
  border-radius: 10px;
}

.logo {
  display: flex;
  max-width: 100%;
  width: 70px;
  margin: auto;
  margin-bottom: 20px;
}

.nav a {
  padding: 10px;
  color: white;
}

.main {
  max-width: 100%;
  width: 900px;
  margin: auto;
  margin-top: 15px;
}

.aea {
  display: flex;
  gap: 20px;
  width: 100%;
}

.box-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
  padding: 10px;
  border-radius: 10px;
}

.box-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.posts {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(35, 35, 35);
}

.chev-news {
  text-shadow: 2px 2px 1px black;
  font-size: 18px;
  font-weight: bold;
}

.title {
  font-size: 25px;
  color: gold;
  text-shadow: 2px 2px brown;
}

.title:hover {
  background-color: brown;
  text-shadow: 2px 2px darkred;
}

p {
  font-size: 15px;
}

.posts img {
  max-width: 100%;
  width: 300px;
  margin: auto;
  margin-top: 15px;
}

.date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  font-weight: bold;
  color: darkgrey;
}

.date a {
  display: flex;
  background-color: brown;
  color: white;
  padding: 5px;
  border-radius: 10px;
}

.boxx {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
  background-color: brown;
  border-radius: 10px;
  border: 1px solid darkred;
}

.btn {
  display: flex;
}

.btn a {
  display: flex;
  background-color: darkred;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  color: white;
  border: 1px solid black;
}

.btn a:hover {
  background-color: red;
}

.btn-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-links a {
  display: flex;
  align-items: center;
  background-color: darkred;
  padding: 10px;
  border-radius: 10px;
  color: white;
  border: 1px solid black;
  gap: 1px;
}

.btn-links a:hover {
  background-color: red;
}

.title {
  font-size: 20px;
  color: gold;
  text-shadow: 2px 2px darkred;
}

.title-posts {
  font-size: 20px;
  color: gold;
  text-shadow: 2px 2px darkred;
}

.photo img {
  width: 100%;
  border-radius: 10px;
}

.list-user {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-user span {
  background-color: darkred;
  padding: 10px;
  border-radius: 10px;
  color: white;
  border: 1px solid black;
}

.burger {
  display: none;
}

.modal {
  display: none;
}

.image {
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .box-right {
    display: none;
  }

  .nav {
    display: flex;
    justify-content: space-around;
  }

  .burger {
    display: flex;
    align-items: center;
  }

  .modal {
    display: none;
    flex-direction: column;
    position: absolute;
    overflow: hidden;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
  }

}